/* Font Family */
$catamaran: 'Catamaran';
$prostoOne: 'Prosto One';
$robotoMono: 'Roboto Mono';
$robotoCondensed: 'Roboto Condensed';
/* Font Family */

/* Dark mode colors */
$text: #f3f2f3;
$primary: #030303;
$primaryLite: #403d42;
$textLiteDark: #9c9a9e;
$textDark: #7d7981;
/* Dark mode colors */
