.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.flex1 {
	flex: 1;
}

.direction-column {
	flex-direction: column;
}

.direction-row {
	flex-direction: row;
}

.shrink0 {
	flex-shrink: 0;
}
